.infoBoxOption{
    min-width: 270px;
    background-color: #12232E;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px #12232E;
    -webkit-box-shadow: 0 0 3px #12232E;
    box-shadow: 0 0 3px #12232E;
    font-size: 11px;
    padding: 10px;
    color: #EEFBFB;
}
.infoBoxOption__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infoBoxOption__header>p{
    color: yellow;
}
.infoBoxOption__value{
    font-size: 24px;
    margin-top: 5px;
}
.infoBoxOption__summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.infoBoxOption__deviation{
    color: #4DA8DA;
}