.checklist {
    background-color: #12232E;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.checklist__header {
    display: flex;
    align-items: center;
    padding: 6px;
    color: #EEFBFB;
    margin-bottom: 10px;
}

.checklist__headerIcon {
    font-size: 30px !important;
    color: yellow;
}

.checklist__header>h3 {
    margin-left: 10px;
    color: #EEFBFB !important;
}

.checklist__form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #EEFBFB;
}

.checklist__courseInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.checklist__form>h4{
    margin-bottom: 5px;
}

.checklist__form>p{
    font-style: italic;
    font-size: 11px;
    margin-bottom: 20px;
}

.checklist__otherInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.checklist__formGroup {
    display: flex;
    flex-direction: column;
}

.checklist__formGroup>label {
    margin-bottom: 10px;
}

.checklist__formGroup>select {
    margin-bottom: 20px;
    width: 300px !important;
    height: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.checklist__form>hr{
    margin-bottom: 40px;
}

.checklist__btn {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checklist__left {
    flex: 0.8;
}

.checklist__right {
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: space-between;
}

.checklist__btnSave {
    background-color: #4DA8DA;
    width: 100px;
    height: 30px;
    color: #12232E;
    border: none;
    border-radius: 3px;
}

.checklist__btnCancel {
    background-color: yellow;
    width: 100px;
    height: 30px;
    color: #12232E;
    border: none;
    border-radius: 3px;
}

@media(max-width:990px) {
    .checklist__btnSave {
        margin-left: 10px;
    }
    .checklist__courseInfo{
        flex-direction: column;
    }
    .checklist__otherInfo{
        flex-direction: column;
    }
    .checklist__left{
        flex: 0;
    }
    .checklist__right{
        flex: 0.2;
    }
}