.dashboardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #12232E;
    font-size: 11px;
    color: #EEFBFB;
    padding: 4px;
}

.dashboardHeader__left {
    display: flex;
    flex: 0.4;
    align-items: center;
}

.dashboardHeader__menuIcon {
    color: #EEFBFB;
}

.nav-menu {
    background-color: #12232E;
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 850ms;
    /* padding-top: 20px; */
}

.dashboardHeader__close {
    color: #EEFBFB !important;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    position: absolute;
}

/* --------------------- Dashboard Header Right ------------------- */

.dashboardHeader__rightHeader {
    display: flex;
    flex: 0.4;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.dashboardHeader__Search {
    display: flex;
    /* flex: 0.2; */
    align-items: center;
    background-color: #EEFBFB;
    border-radius: 5px;
    height: 30px;
}

.dashboardHeader__searchIcon {
    color: #12232E !important;
    background-color: #EEFBFB !important;
}

.dashboardHeader__Search>input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #EEFBFB;
    width: 205px;
}

.dashboardHeader__Search>input:focus {
    outline: none;
}

.dashboardHeader__userAccount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboardHeader__menu {
    font-size: 11px !important;
}

.dashboardHeader__userAccount>p {
    font-size: 12px;
    margin-right: -16px;
}

.dashboardHeader__dropdownIcon {
    color: #EEFBFB !important;
}

.dashboardHeader__username {
    color: #4DA8DA;
    padding-left: 5px;
}

@media(max-width:990px) {
    .dashboardHeader__notificationsIcon {
        margin-right: 10px !important;
    }
    .dashboardHeader__Search{
        margin-right: 10px;
    }
    .dashboardHeader__userAccount>p{
        margin-left: 8px;
        margin-right: -20px;
    }
}