.dashboard__summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboardSummary__left{
    flex: 0.2;
}
.dashboardSummary__right{
    flex: 1;
}
.dashboardSummary__firstRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.dashboardSummary__secondRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0;
}
.dashboardSummary__graph{
    flex: 0.5;
    background-color: #12232E;
    height: 300px;
    margin-right: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px #12232E;
    -webkit-box-shadow: 0 0 3px #12232E;
    box-shadow: 0 0 3px #12232E;
    cursor: pointer;
}
.dashboardSummary__graph>h1{
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    color: #EEFBFB;
}
.dashboardSummary__table{
    flex: 0.5;
    background-color: #12232E;
    height: 300px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px #12232E;
    -webkit-box-shadow: 0 0 3px #12232E;
    box-shadow: 0 0 3px #12232E;
    cursor: pointer;
}
.dashboardSummary__table>h1{
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    color: #EEFBFB;
}

.dashboardSummary__thirdRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-top: 0;
}
.dashboardSummary__doughnut{
    flex: 0.5;
    background-color: #12232E !important;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px #12232E;
    -webkit-box-shadow: 0 0 3px #12232E;
    box-shadow: 0 0 3px #12232E;
    margin-right: 20px;
    padding: 2px;
    cursor: pointer;
}
.dashboardSummary__notifications{
    flex: 0.5;
    background-color: #12232E;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px #12232E;
    -webkit-box-shadow: 0 0 3px #12232E;
    box-shadow: 0 0 3px #12232E;
    padding: 2px;
    cursor: pointer;
}

.dashboardSummary__notifications>p{
    font-size: 11px;
    color: #EEFBFB;
    padding: 10px;
    font-weight: 600;
}

@media(max-width:1250px){
    .dashboardSummary__left{
        width: 0;
    }
    .dashboardSummary__right{
        width: 100%;
    }
    .dashboardSummary__firstRow{
        flex-direction: column;
    }
    .infoBoxOption{
        width: 100%;
        margin-bottom: 10px;
    }
    .dashboardSummary__secondRow{
        flex-direction: column;
        padding: 14px;
    }
    .dashboardSummary__graph{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .dashboardSummary__table{
        width: 100%;
    }
    .dashboardSummary__thirdRow{
        flex-direction: column;
        padding: 14px;
    }
    .dashboardSummary__doughnut{
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }
    .dashboardSummary__notifications{
        width: 100%;
    }
}