.dashboardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #12232E;
    font-size: 11px;
    color: #EEFBFB;
    padding: 10px;
}
.dashboardHeader__left{
    display: flex;
    align-items: center;
}

.dashboardHeader__menuIcon{
    color: #EEFBFB;
}

.nav-menu{
    background-color: #12232E;
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 850ms;
    padding-top: 20px;
}

.dashboardHeader__close{
    color: #EEFBFB !important;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
    position: absolute;
}

/* --------------------- Dashboard Header Center ---------------- */

.dashboardHeader__center{
    display: flex;
    align-items: center;
    background-color: #EEFBFB;
    border-radius: 5px;
    height: 30px;
}

.dashboardHeader__searchIcon{
    color: #12232E !important;
    background-color: #EEFBFB !important;
}

.dashboardHeader__center>input{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #EEFBFB;
}

.dashboardHeader__center>input:focus{
    outline: none;
}

/* --------------------- Dashboard Header Right ------------------- */

.dashboardHeader__right{
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

@media(max-width:600px){
    .dashboardHeader__notificationsIcon{
        margin-right: 10px !important;
    }
}


/* @media(max-width:600px){

    .dashboardHeader__menuIcon{
        color: #EEFBFB;
    }

    .nav-menu{
        background-color: #12232E;
        width: 200px;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        transition: 850ms;
        padding-top: 20px;
    }

    .dashboardHeader__close{
        color: #EEFBFB !important;
    }

    .nav-menu.active{
        left: 0;
        transition: 350ms;
        position: absolute;
    }
} */