table {
    border-collapse: collapse;
    width: 100%;
    font-size: 11px;
    height: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    color: #EEFBFB;
}

.notificationsTable__status {
    color: yellow;
}

.notificationsTable__table>tr:nth-child(even) {
    /* background-color: #203647; */
    color: #12232E;
}

.notificationsTable__sender {
    color: #4DA8DA;
}