.rankTable>table {
    border-collapse: collapse;
    width: 100%;
    font-size: 11px;
    height: 260px;
}

th, td {
    text-align: left;
    padding: 8px;
    color: #EEFBFB;
}

.rankTable__table>tr:nth-child(even) {
    background-color: #203647;
    color: #12232E;
}