.sidebarOption{
    display: flex;
    align-items: center;
}
.sidebarOption>p{
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 5px;
}

.sidebarOption__icon{
    font-size: 18px !important;
    margin-bottom: 10px !important; 
}