table {
    border-collapse: collapse;
    max-width: 100%;
    font-size: 11px;
    height: 100%;
    background-color: #12232E;
    border: 4px solid #12232E;
    border-radius: 5px;
    -moz-box-shadow: 0 0 6px #12232E;
    -webkit-box-shadow: 0 0 6px #12232E;
    box-shadow: 0 0 6px #12232E;
}

th{
    text-align: left;
    padding: 8px;
    color: yellow !important;
    font-weight: 800;
}

td {
    text-align: left;
    padding: 8px;
    color: #EEFBFB;
}

.units__table>tr:nth-child(even) {
    background-color: #203647;
    color: #12232E;
}