.viewResults {
    margin: 20px;
}

.viewResults__header{
    display: flex;
    align-items: center;
    color: #EEFBFB;
    margin-bottom: 20px;
}

.viewResults__header>h3{
    font-weight: 800;
}

.viewResults__headerIcon {
    font-size: 30px !important;
    color: yellow;
}

.viewResults__formGroup {
    display: flex;
    flex-direction: column;
}

.viewResults__formGroup>p {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
}

.viewResults__formGroup>select{
    margin-bottom: 20px;
    min-width: 210px;
    height: 50px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 10px;
}

.viewResults__dropdownItem{
    background-color: #EEFBFB;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 11px;
    height: 100%;
    background-color: #12232E;
    border: 4px solid #12232E;
    border-radius: 5px;
    -moz-box-shadow: 0 0 6px #12232E;
    -webkit-box-shadow: 0 0 6px #12232E;
    box-shadow: 0 0 6px #12232E;
}

th{
    text-align: left;
    padding: 8px;
    color: yellow !important;
    font-weight: 800;
}

td {
    text-align: left;
    padding: 8px;
    color: #EEFBFB;
}

.viewResults__table>tr:nth-child(even) {
    background-color: #203647;
    color: #12232E;
}